{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link rel="stylesheet" href="{% static 'elections/style.css' %}">
    <script
	    src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous">
    </script>
</head>
<body>
<header>
    <div class="left">Internetowe Centrum Wyborcze</div>
    <div class="right">
        <div class="date">{% now "l, j E Y" %}</div>
        {% if request.user.is_authenticated %}
            <div class="profile">
                <div>Witaj, {{ request.user.username }}!</div>
                <div><a href="{% url 'elections:logout' %}">Wyloguj się</a></div>
            </div>
        {% endif %}
    </div>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>