{% extends 'elections/base.html' %}
{% load static %}

{% block content %}

    <h1>{{ election.description }}</h1>
    {% if form.non_field_errors %}<p><strong>{{ form.non_field_errors }}</strong></p>{% endif %}
    {% if form.errors %}<p><strong>{{ form.errors }}</strong></p>{% endif %}
    <p>W tych wyborach możesz poprzeć <span id="maxVotes">{{ election.votes_per_voter }}</span> kandydatów</p>
    <form class="choiceForm" action="#" method="post" onsubmit="return validateForm();">
        {% csrf_token %}
        {% for choice in form.candidates %}

            <div class="choice">
                <div>
                    {{ choice.tag }}
                    <label for="{{ choice.id_for_label }}">
                        {{ choice.choice_label }}
                    </label>
                </div>
            </div>
        {% endfor %}

        <input type="submit" class="green-button right-aligned" value="Zagłosuj">
    </form>

    <script src="{% static 'elections/electionDetails.js' %}"></script>
{% endblock %}